*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* seccion header/nav */
ul li a{
    text-decoration: none;
    color: #2d327d; 
}
a{
    text-decoration: none;
    display: flex;
}
 ul {
    text-decoration: none;
    list-style: none;
}
nav{
    display: flex;
    justify-content: space-around;
    color: black;
    width: 100%;
    align-items: center;
     border-style: solid;
    border-width: 2px;
    border-color: rgb(8, 8, 8);
}
.sectionNav h1{
    background: linear-gradient( blue, rgb(65, 121, 242));
    text-align: center;
    background-clip: text;
  -webkit-text-fill-color: transparent;

}
.sectionNav p{
    color: white;
    font-size: 20px;
}

.sectionNav{
    height: 200px;
    margin-top: 60px;
}

body{
   background: linear-gradient(to bottom, rgb(65, 121, 242)  , rgb(255, 255, 255) ) ;   
   height: 100vh;
}

main{
    display: flex;

    flex-direction: column;
    align-items: center;    
     border: black;
    border-width: 2px;
    border-style: solid;
    height: 93%;
}


.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-left: 6px solid #2d327d;
}

.card h2 {
    margin-bottom: 10px;
    color: #2d327d;
}

.card p {
    margin: 6px 0;
    font-size: 16px;
    color: #333;
}

.card strong {
    color: #000;
}
.logo {
    display: flex;
    align-items: center;
    position: relative;
    right: 100px;
} 

