*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* seccion header/nav */
ul li a{
    text-decoration: none;
    color: #2d327d; 
}
a{
    text-decoration: none;
    display: flex;
}
 ul {
    text-decoration: none;
    list-style: none;
}
nav{
    display: flex;
    justify-content: space-around;
    color: black;
    width: 100%;
    align-items: center;
     border-style: solid;
    border-width: 3px;
    border-color: rgb(0, 0, 0);
}
.sectionNav h1{
    margin-top: -50px;
    color: #2d327d;
    text-align: center;
}
    p {
  line-height: 2.0; /* más espacio entre líneas */
}
.sectionNav p{
    color: white;
    font-size: 20px;
}

.sectionNav{
    height: 200px;
    margin-top: 60px;
}

body{
   background: linear-gradient(to bottom, rgb(65, 121, 242)  , rgb(255, 255, 255) ) ;   
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
    right: 100px;
} 
/* cierra */


/* seccion  main */
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1c1c2e;   
}
.caja h3{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.caja{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caja h5{
    color: white;
}
.imgFotos{
    border-style: groove;
    border-color: black;
}

.logo{
    display: flex;
    
}
.cajaDos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.button{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
button{
border:0;
background-image: linear-gradient(
 150deg,
 #9500,
 #ffff,
 #00DDFF
    );
border-radius: 8px;
color:#020202;
display: flex;
font-size: 18px;
justify-content: center;
cursor: pointer;
transition: .3s;
}

button span{
    background:linear-gradient(to bottom, rgb(65, 121, 242)  , rgb(255, 255, 255)) ;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}
button:hover span {
    background: none;
}
button:active {
    transform: scale(0,9)
}
/* cierra */

footer{
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 2px;
}
.ultimo{
    margin-bottom: 30px;
}
.logoss{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.caja h3 {
    color: #2d327d;
}
.caja h5{
    color: #2d327d;
}


